**connecting to the database**

In [1]:
%load_ext sql

In [2]:
%sql mysql+pymysql://root:100200300@localhost:3306/Marketing

Connecting to 'mysql+pymysql://root:***@localhost:3306/Marketing'

**Total ROMI**

In [3]:
%%sql

SELECT (sum(revenue) - sum(mark_spent)) / (sum(mark_spent) * 100) as ROMI
from marketing;

Running query in 'mysql+pymysql://root:***@localhost:3306/Marketing'

1 rows affected.

+---------------------+
|         ROMI        |
+---------------------+
| 0.00402031136481383 |
+---------------------+

**Total ROMI by campaign**

In [4]:
%%sql

SELECT campaign_name,
round((sum(revenue) - sum(mark_spent)) / (sum(mark_spent) * 100),5) as ROMI
from marketing
group by campaign_name
order by ROMI desc;

Running query in 'mysql+pymysql://root:***@localhost:3306/Marketing'

11 rows affected.

+----------------------+----------+
|    campaign_name     |   ROMI   |
+----------------------+----------+
|   youtube_blogger    | 0.02773  |
| facebook_retargeting | 0.01015  |
|      google_hot      | 0.00838  |
|   instagram_tier1    | 0.00771  |
|  instagram_blogger   | 0.00368  |
|    banner_partner    | 0.00224  |
|    facebook_tier1    | -0.00066 |
|    facebOOK_tier2    | -0.00262 |
|     google_wide      | -0.00337 |
|   instagram_tier2    | -0.00371 |
+----------------------+----------+
Truncated to displaylimit of 10.

**Performance of the campaign depending on the date**

In [15]:
%%sql

select c_date as date, campaign_name , revenue as performance
from marketing
order by date;

Running query in 'mysql+pymysql://root:***@localhost:3306/Marketing'

308 rows affected.

+------------+----------------------+-------------+
|    date    |    campaign_name     | performance |
+------------+----------------------+-------------+
| 2021-02-01 |    facebook_tier1    |    4981.0   |
| 2021-02-01 |    facebOOK_tier2    |   14962.0   |
| 2021-02-01 |      google_hot      |    7981.0   |
| 2021-02-01 |     google_wide      |    2114.0   |
| 2021-02-01 |   youtube_blogger    |   84490.0   |
| 2021-02-01 |   instagram_tier1    |   17943.0   |
| 2021-02-01 |   instagram_tier2    |    1981.0   |
| 2021-02-01 | facebook_retargeting |    4981.0   |
| 2021-02-01 |     facebook_lal     |    4162.0   |
| 2021-02-01 |  instagram_blogger   |   39081.0   |
+------------+----------------------+-------------+
Truncated to displaylimit of 10.

**on which date did we spend the most money on advertising**

In [14]:
%%sql

select c_date as date, mark_spent as spending, campaign_name 
from marketing
order by spending desc
limit 1;

Running query in 'mysql+pymysql://root:***@localhost:3306/Marketing'

1 rows affected.

+------------+----------+-----------------+
|    date    | spending |  campaign_name  |
+------------+----------+-----------------+
| 2021-02-19 | 880357.0 | youtube_blogger |
+------------+----------+-----------------+

**conversion rate for campaigns**

In [71]:
%%sql

select campaign_name,
        sum(leads) / sum(clicks) as leads_conversion_rate,
        sum(orders)/ sum(clicks) as orders_conversion_rate
        
from marketing
group by campaign_name;

Running query in 'mysql+pymysql://root:***@localhost:3306/Marketing'

11 rows affected.

+----------------------+-----------------------+------------------------+
|    campaign_name     | leads_conversion_rate | orders_conversion_rate |
+----------------------+-----------------------+------------------------+
|    facebook_tier1    |         0.0147        |         0.0020         |
|    facebOOK_tier2    |         0.0255        |         0.0021         |
|      google_hot      |         0.0204        |         0.0031         |
|     google_wide      |         0.0220        |         0.0023         |
|   youtube_blogger    |         0.0221        |         0.0043         |
|   instagram_tier1    |         0.0246        |         0.0028         |
|   instagram_tier2    |         0.0203        |         0.0006         |
| facebook_retargeting |         0.0169        |         0.0036         |
|     facebook_lal     |         0.0159        |         0.0024         |
|  instagram_blogger   |         0.0234        |         0.0037         |
+----------------------+-----------------------+------------------------+
Truncated to displaylimit of 10.

**What were the average order values?**

In [16]:
%%sql

select round(avg(revenue), 2) as average_order_value
from marketing;

Running query in 'mysql+pymysql://root:***@localhost:3306/Marketing'

1 rows affected.

+---------------------+
| average_order_value |
+---------------------+
|      139251.19      |
+---------------------+

**When buyers are more active?**

In [11]:
%%sql

select c_date as date, sum(clicks) as total_clicks, sum(leads) as total_leads
from marketing 
group by date
order by total_leads desc;

Running query in 'mysql+pymysql://root:***@localhost:3306/Marketing'

28 rows affected.

+------------+--------------+-------------+
|    date    | total_clicks | total_leads |
+------------+--------------+-------------+
| 2021-02-20 |    359986    |     8082    |
| 2021-02-17 |    270005    |     5997    |
| 2021-02-19 |    330047    |     5914    |
| 2021-02-18 |    299995    |     5807    |
| 2021-02-16 |    239979    |     5674    |
| 2021-02-15 |    210012    |     4542    |
| 2021-02-14 |    179977    |     4183    |
| 2021-02-13 |    150017    |     3980    |
| 2021-02-05 |    150009    |     3782    |
| 2021-02-12 |    120019    |     2497    |
+------------+--------------+-------------+
Truncated to displaylimit of 10.

**What is the average revenue on weekdays and weekends?**

In [21]:
%%sql
select dayofweek(c_date) as day_of_week, 
       round(avg(revenue),2) as average_revenue
from marketing
group by day_of_week
order by average_revenue desc;

Running query in 'mysql+pymysql://root:***@localhost:3306/Marketing'

7 rows affected.

+-------------+-----------------+
| day_of_week | average_revenue |
+-------------+-----------------+
|      6      |    217594.89    |
|      7      |    193713.68    |
|      4      |    158495.34    |
|      5      |    135362.98    |
|      3      |     103125.8    |
|      2      |     94992.2     |
|      1      |     71473.43    |
+-------------+-----------------+

**Which types of campaigns work best - social, banner, influencer, or a search?**

In [83]:
%%sql
select category, sum(revenue) as total_revenue, sum(orders) as total_orders
from marketing
group by category
order by total_revenue desc;

Running query in 'mysql+pymysql://root:***@localhost:3306/Marketing'

4 rows affected.

+------------+---------------+--------------+
|  category  | total_revenue | total_orders |
+------------+---------------+--------------+
| influencer |   21119887.0  |     3014     |
|   social   |   11911454.0  |     2635     |
|   media    |   6152960.0   |     1566     |
|   search   |   3705065.0   |     828      |
+------------+---------------+--------------+

**Top 5 performing campaings**

In [14]:
%%sql
select campaign_name as top_performing_campaigns, sum(revenue) as total_revenue
from marketing
group by campaign_name
order by sum(revenue) desc
limit 5;

Running query in 'mysql+pymysql://root:***@localhost:3306/Marketing'

5 rows affected.

+--------------------------+---------------+
| top_performing_campaigns | total_revenue |
+--------------------------+---------------+
|     youtube_blogger      |   15311433.0  |
|      banner_partner      |   6152960.0   |
|    instagram_blogger     |   5808454.0   |
|     instagram_tier1      |   4544124.0   |
|      facebOOK_tier2      |   3463306.0   |
+--------------------------+---------------+

**corelation between impression and revenue**

In [52]:
%%sql
SELECT @firstValue:=avg(impressions) as avg_impression,
       @secondValue:=avg(revenue) avg_revenue,
        @division:=(stddev_samp(impressions) * stddev_samp(revenue)) as std
FROM marketing;

Running query in 'mysql+pymysql://root:***@localhost:3306/Marketing'

1 rows affected.

+----------------+-------------------+-------------------+
| avg_impression |    avg_revenue    |        std        |
+----------------+-------------------+-------------------+
|  5122475.3214  | 139251.1883116883 | 7269906087879.883 |
+----------------+-------------------+-------------------+

In [54]:
%%sql
select round(sum( ( impressions - @firstValue ) * (revenue - @secondValue) ) / ((count(impressions) -1) *@division),3) as correlation
from marketing;

Running query in 'mysql+pymysql://root:***@localhost:3306/Marketing'

1 rows affected.

+-------------+
| correlation |
+-------------+
|    0.104    |
+-------------+

**cost per click (CPC)**

In [76]:
%%sql
select campaign_name as campaign, round((sum(mark_spent) / sum(clicks)),2) as CPC
from marketing
group by campaign
order by CPC desc;

Running query in 'mysql+pymysql://root:***@localhost:3306/Marketing'

11 rows affected.

+----------------------+-------+
|       campaign       |  CPC  |
+----------------------+-------+
|     facebook_lal     | 22.01 |
|    facebOOK_tier2    | 14.23 |
|  instagram_blogger   | 14.16 |
|      google_hot      | 13.33 |
|    banner_partner    | 11.97 |
|    facebook_tier1    | 10.69 |
|   instagram_tier1    |  9.5  |
|     google_wide      |  9.42 |
|   youtube_blogger    |  9.02 |
| facebook_retargeting |  8.9  |
+----------------------+-------+
Truncated to displaylimit of 10.

**cost per lead (CPL)**

In [75]:
%%sql
select campaign_name as campaign, round((sum(mark_spent) / sum(leads)),2) as CPL
from marketing
group by campaign
order by CPL desc;

Running query in 'mysql+pymysql://root:***@localhost:3306/Marketing'

11 rows affected.

+----------------------+---------+
|       campaign       |   CPL   |
+----------------------+---------+
|     facebook_lal     | 1383.94 |
|    facebook_tier1    |  725.54 |
|      google_hot      |  654.66 |
|  instagram_blogger   |  606.07 |
|    facebOOK_tier2    |  556.94 |
| facebook_retargeting |  526.61 |
|    banner_partner    |  495.29 |
|     google_wide      |  428.59 |
|   youtube_blogger    |  408.61 |
|   instagram_tier1    |  386.8  |
+----------------------+---------+
Truncated to displaylimit of 10.

In [13]:
%%sql
select campaign_name, (max(c_date) - min(c_date)) as duration, 
        sum(clicks) as total_clicks, 
        sum(leads) as total_leads, 
        sum(orders) as total_orders, 
        sum(revenue) as total_revenue
from marketing
group by campaign_name;

Running query in 'mysql+pymysql://root:***@localhost:3306/Marketing'

11 rows affected.

+----------------------+----------+--------------+-------------+--------------+---------------+
|    campaign_name     | duration | total_clicks | total_leads | total_orders | total_revenue |
+----------------------+----------+--------------+-------------+--------------+---------------+
|    facebook_tier1    |    27    |    239997    |     3535    |     474      |   2396412.0   |
|    facebOOK_tier2    |    27    |    329973    |     8428    |     688      |   3463306.0   |
|      google_hot      |    27    |    90048     |     1833    |     281      |   2205747.0   |
|     google_wide      |    27    |    240006    |     5274    |     547      |   1499318.0   |
|   youtube_blogger    |    27    |    450014    |     9931    |     1914     |   15311433.0  |
|   instagram_tier1    |    27    |    269961    |     6632    |     758      |   4544124.0   |
|   instagram_tier2    |    27    |    509992    |    10374    |     313      |    670460.0   |
| facebook_retargeting |    27    |    29954     |     506     |     108      |    536919.0   |
|     facebook_lal     |    27    |    120012    |     1909    |     294      |    300233.0   |
|  instagram_blogger   |    27    |    299959    |     7008    |     1100     |   5808454.0   |
+----------------------+----------+--------------+-------------+--------------+---------------+
Truncated to displaylimit of 10.

# insights

- While YouTube influencers deliver the most impactful campaigns, they also come at the highest cost.

- Influencer marketing generates the most orders compared to other channels.

- Friday saw the highest average revenue generated.

- The days between 17 and 21 had the highest click-through rate.

- Facebook Lookalike Audiences (FB LAL) incurred the highest cost per click (CPC) and cost per lead (CPL).

- The campaign duration did not appear to significantly impact its overall performance.